.display-block,
.db {
  display: block;
}

.display-inline-block,
.dib {
  display: inline-block;
}

.display-inline,
.di {
  display: inline;
}

.display-none,
.dn {
  display: none;
}

.display-inline-flex,
.dif {
  display: inline-flex;
}

.display-grid,
.dg {
  display: grid;
}
